<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:jpa="http://www.springframework.org/schema/data/jpa"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/mvc
        		http://www.springframework.org/schema/mvc/spring-mvc.xsd
				http://www.springframework.org/schema/data/jpa 
				http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"                
                >   
		<mvc:annotation-driven />                
                             
        <context:component-scan base-package="domain"/>
        <context:component-scan base-package="service"/>
        <context:component-scan base-package="web"/>
         
         <jpa:repositories base-package="domain" />
         
         <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		  <property name="dataSource" ref="dataSource" />
		  <property name="packagesToScan" value="domain" />
			<property name="jpaProperties">
			    <props>
			        <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
			        <prop key="hibernate.show_sql">true</prop>
			        <prop key="hibernate.hbm2ddl.auto">validate</prop>
			    </props>
			</property>		  
		  <property name="jpaVendorAdapter">
		   <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		    <property name="generateDdl" value="false" />
		   </bean>
		  </property>
         </bean>
         
		 <context:property-placeholder location="file:///${PROPERTIES_HOME}/test-spring-2017-2.properties"/>
		 
		 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		  <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		  <property name="url" value="${BBDD_URL}" />
		  <property name="username" value="${BBDD_USER}" />
		  <property name="password" value="${BBDD_PASSWORD}" />
			<property name="maxActive" value="10" />
			<property name="maxIdle" value="10" />		  
		 </bean>
		         
		<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		  <property name="entityManagerFactory" ref="entityManagerFactory" />
		 </bean>		 
        
</beans>