<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" name="test-spring-2017-2" packages="">
  <Properties>
     <Property name="logFile">$${jndi:test-spring-2017-2-log-file}</Property>
  </Properties>
  <Appenders>
    <File name="File" fileName="${logFile}">
      <PatternLayout>
        <Pattern>%d %p [%t] %c{10} %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>  
  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>  
</Configuration>